<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=./PerfDashboard/" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="./PerfDashboard/" />
    <title>Redirecting…</title>
  </head>
  <body>
    <script>
      location.replace("./PerfDashboard/");
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0; url=./PerfDashboard/" />
      <a href="./PerfDashboard/">Continue</a>
    </noscript>
  </body>
</html>
